## Data collection

### read and filter dataset

In [1]:
# read and filter dataset
df = pd.read_csv('Datasets/Rents & Transactions/rents.csv', sep = ';')

# amounts
feat = 'Contract Amount'
df[feat] = df[feat].map(lambda x: float(str(x).replace(',','.')))
df.loc[df[feat] < 1, feat] = np.nan

feat = 'Annual Amount'
df[feat] = df[feat].map(lambda x: float(str(x).replace(',','.')))
df.loc[df[feat] < 1, feat] = np.nan

df['Contract Years'] = df['Contract Amount'] / df['Annual Amount']
df['Amount'] = df['Annual Amount'] / df['No of Units']

# property size
feat = 'Property Size (sq.m)'
df[feat] = df[feat].map(lambda x: float(str(x).replace(',','.')))

# dates feats
df['Transaction Date'] = pd.to_datetime(df['Registration Date'], errors = 'coerce', dayfirst = True)
df['dt_month'] = pd.to_datetime(df['Transaction Date'].astype(str).str[:7])
df['dt_year'] = df['Transaction Date'].astype(str).str[:4].astype(int)

df['tr_year_num'] = df['dt_year']
df['tr_month_num'] = df['dt_month'].dt.month

# invalid property id - replace as contract number (with minus)
f1 = df['Property ID'] == -3
df.loc[f1, 'Property ID'] = -df.loc[f1, 'Ejari Contract Number']

# filtering
# df[df.duplicated(subset = ['Transaction Number'])]
df.drop_duplicates(keep = 'first', inplace = True)

f1 = df['Transaction Date'] > '2012-01-01'
f2 = ~df['Amount'].isnull()
filt = f1&f2
print(df.shape)
df = df[filt].sort_values('Transaction Date').reset_index(drop = True)
print(df.shape)

(5471932, 29)
(5417110, 29)

In [2]:
# last property id value
feat = 'Property ID'
df[f'{feat}_last'] = df.groupby([feat]).Amount.shift(1)

### cat to num or flags

In [3]:
# flags
feat = 'Usage'
repl1 = {'Residential': 1}
df[feat] = df[feat].map(repl1).fillna(0).astype(int)

feat = 'Version'
repl1 = {'New': 1}
df[feat] = df[feat].map(repl1).fillna(0).astype(int)

feat = 'Is Free Hold?'
repl1 = {'Free Hold': 1}
df[feat] = df[feat].map(repl1).fillna(0).astype(int)

feat = 'Parking'
df[feat] = df[feat].notnull().astype(int)

### cats cleaning - unpopular as null

In [4]:
cnt_min = 99

In [5]:
# Property Type
feat = 'Property Type'
repl1 = {
    'Villa': 'Building',
    'Virtual Unit': 'Virtual_Unit',
}
df[feat] = df[feat].fillna('').str.strip().map(lambda x: repl1[x] if x in repl1 else x)

df[feat].value_counts()

Property Type
Unit            4911427
Building         421986
Virtual_Unit      47517
Land              36180
Name: count, dtype: int64

In [6]:
# Property Sub Type
feat = 'Property Sub Type'
df[feat] = df['Property Type'] + '_' + df[feat].fillna('')

repl1 = {}
df[feat] = df[feat].fillna('').str.strip().map(lambda x: repl1[x] if x in repl1 else x)

repl1 = df[feat].value_counts()
repl1 = repl1[repl1 > cnt_min]
df[feat] = df[feat].map(lambda x: x if x in repl1.index else '')
df[feat].value_counts()

Property Sub Type
Unit_Flat                              3120092
Unit_Shop                               588553
Unit_Office                             551004
Unit_Labor Camps                        380951
Building_Villa                          371420
Unit_Studio                              75959
Unit_Warehouse                           68249
Virtual_Unit_Office                      43574
Building_Complex Villas                  41379
Land_                                    36179
Unit_Hotel                               31901
Unit_Showroom                            25602
Unit_Hotel apartments                    14818
Unit_Portacabin                           8340
Unit_Restaurant                           5724
Unit_Store                                4770
Unit_Building                             3677
Unit_Warehouse complex                    3661
Virtual_Unit_Shop                         3124
Unit_Parking                              2916
Unit_Mezzanine                            2690
Unit_Clinic                               2648
Unit_                                     2633
Unit_Workshop                             2523
Unit_Complex Warehouse                    2176
Unit_Kiosk                                2162
Unit_Open space                           2015
Building_Shop                             1451
                                          1409
Building_                                 1195
Building_Building                         1182
Building_Arabian House                    1158
Unit_Factory                               909
Building_Flat                              814
Building_Clinic                            805
Unit_Health club                           766
Unit_Arabian House                         719
Unit_Staff Accommodation                   685
Unit_Villa                                 557
Virtual_Unit_Desk                          530
Unit_Comercial Complex                     500
Unit_School                                480
Unit_Storage                               474
Building_Medical center                    444
Unit_Resturants Complex                    420
Unit_Medical center                        335
Building_Labor Camps                       304
Building_Office                            302
Building_Factory                           245
Unit_Supermarket, a multi-section          244
Unit_ATM                                   237
Unit_Supermarket                           221
Building_Villa addendum                    220
Virtual_Unit_Warehouse                     217
Unit_GYM                                   194
Building_Hotel                             192
Unit_Ladies Saloon                         172
Unit_Endowments attached to mosques        170
Building_School                            161
Building_Restaurant                        149
Building_Showroom                          144
Unit_Villa addendum                        141
Unit_College                               119
Unit_Pharmacy                              105
Name: count, dtype: int64

In [7]:
# Nearest Landmark
feat = 'Nearest Landmark'
repl1 = {}
df[feat] = df[feat].fillna('').str.strip().map(lambda x: repl1[x] if x in repl1 else x)

repl1 = df[feat].value_counts()
repl1 = repl1[repl1 > cnt_min]
df[feat] = df[feat].map(lambda x: x if x in repl1.index else '')
df[feat].value_counts()

Nearest Landmark
Dubai International Airport          2161924
Burj Khalifa                          640846
Burj Al Arab                          639603
Sports City Swimming Academy          480099
Downtown Dubai                        383386
                                      344937
Expo 2020 Site                        326869
IMG World Adventures                  187378
Motor City                            152170
Dubai Cycling Course                   38853
Al Makhtoum International Airport      35909
Dubai Parks and Resorts                13706
Global Village                          9633
Hamdan Sports Complex                   1620
Jabel Ali                                177
Name: count, dtype: int64

In [8]:
# Nearest Mall
feat = 'Nearest Mall'
repl1 = {}
df[feat] = df[feat].fillna('').str.strip().map(lambda x: repl1[x] if x in repl1 else x)

repl1 = df[feat].value_counts()
repl1 = repl1[repl1 > cnt_min]
df[feat] = df[feat].map(lambda x: x if x in repl1.index else '')
df[feat].value_counts()

Nearest Mall
Dubai Mall              1974789
City Centre Mirdif      1303629
                         597315
Mall of the Emirates     572519
Marina Mall              551957
Ibn-e-Battuta Mall       416901
Name: count, dtype: int64

In [9]:
# Nearest Metro
feat = 'Nearest Metro'
repl1 = {
    'Jumeirah Beach Resdency': 'Jumeirah Beach Residency'
}
df[feat] = df[feat].fillna('').str.strip().map(lambda x: repl1[x] if x in repl1 else x)

repl1 = df[feat].value_counts()
repl1 = repl1[repl1 > cnt_min]
df[feat] = df[feat].map(lambda x: x if x in repl1.index else '')
df[feat].value_counts()

Nearest Metro
                                        560777
Rashidiya Metro Station                 508638
Noor Bank Metro Station                 269212
Baniyas Square Metro Station            223184
Al Fahidi Metro Station                 184519
Dubai Internet City                     173653
Business Bay Metro Station              163018
STADIUM Metro Station                   155916
DANUBE Metro Station                    155221
Palm Deira Metro Stations               154577
Sharaf Dg Metro Station                 153011
ADCB Metro Station                      144405
Airport Free Zone                       136114
Buj Khalifa Dubai Mall Metro Station    127575
Harbour Tower                           125352
Al Nahda Metro Station                  122083
Salah Al Din Metro Station              121814
Etisalat Metro Station                  112324
Nakheel Metro Station                   108244
Burjuman Metro Station                  101000
Damac Properties                         98197
First Abu Dhabi Bank Metro Station       96074
Al Rigga Metro Station                   92031
Trade Centre Metro Station               91657
Ibn Battuta Metro Station                89389
Al Ghubaiba Metro Station                83325
Abu Baker Al Siddique Metro Station      80684
Jumeirah Beach Residency                 77260
Al Ras Metro Station                     75382
Al Qusais Metro Station                  73240
Jumeirah Lakes Towers                    73205
Oud Metha Metro Station                  58297
Al Qiyadah Metro Station                 55171
Union Metro Station                      53643
Emirates Towers Metro Station            47468
Palm Jumeirah                            40506
Abu Hail Metro Station                   39445
Deira City Centre                        38244
UAE Exchange Metro Station               38146
Creek Metro Station                      36264
Financial Centre                         34079
Al Jafiliya Metro Station                32342
Healthcare City Metro Station            27013
Mina Seyahi                              25069
GGICO Metro Station                      24631
Marina Mall Metro Station                22733
Marina Towers                            20232
Al Jadaf Metro Station                   20213
Dubai Marina                             18952
ENERGY Metro Station                     10125
Emirates Metro Station                   10063
Knowledge Village                        10008
Al Sufouh                                 8623
Airport Terminal 1 Metro Station          6536
Terminal 3                                5486
Media City                                2740
Name: count, dtype: int64

In [10]:
# Project
feat = 'Project'
print(df[feat].nunique())
df[feat] = df[feat].str.lower().str.strip()
print(df[feat].nunique())

repl1 = df[feat].value_counts()
repl1 = repl1[repl1 > cnt_min]
df[feat] = df[feat].map(lambda x: x if x in repl1.index else '')
print(df[feat].nunique())
df[feat].value_counts()

1100
1100
844

Project
                             4633707
remraam                        20419
remraam - al ramth 2           20353
remraam - al ramth             20353
sky courts                     16059
                              ...
aces chateau                     102
modelux tower 1                  102
micasa avenue                    101
damac hills - the flora          101
the pulse residence plaza        100
Name: count, Length: 844, dtype: int64

In [11]:
# Project
feat = 'Area'
print(df[feat].nunique())
df[feat] = df[feat].str.lower().str.strip()
print(df[feat].nunique())

repl1 = df[feat].value_counts()
repl1 = repl1[repl1 > cnt_min]
df[feat] = df[feat].map(lambda x: x if x in repl1.index else '')
print(df[feat].nunique())
df[feat].value_counts()

216
216
185

Area
al warsan first                      242724
jabal ali first                      170135
al karama                            167738
naif                                 165476
marsa dubai                          159018
business bay                         139731
al nahda second                      133825
al suq al kabeer                     126926
jabal ali industrial first           121841
al goze industrial second            120856
al mararr                            120191
mirdif                               117737
al barsha first                      117194
nadd hessa                           117147
al murqabat                          113648
al thanyah fifth                     109789
al qusais first                      101631
mankhool                             101460
dubai investment park first           89584
muhaisanah fourth                     87399
dubai investment park second          84676
al raffa                              83048
al goze third                         82735
al nahda first                        81397
burj khalifa                          78854
al barsha south fourth                77670
al thanyah first                      68794
al hebiah fifth                       61126
trade center first                    60057
muhaisanah second                     59607
al warqa first                        58523
hor al anz                            58015
hor al anz east                       55694
oud metha                             52162
al hebiah fourth                      49810
al hamriya                            49771
al muteena                            48484
port saeed                            48439
al bada                               46768
me'aisem first                        46655
al thanyah third                      44445
al rega                               44441
palm jumeirah                         43805
al dhagaya                            40773
eyal nasser                           40413
wadi al safa 5                        39563
al buteen                             36932
al ras                                35696
jabal ali                             34997
al thanayah fourth                    34440
ras al khor industrial third          32934
al safouh second                      32693
al baraha                             31611
al garhoud                            31074
al mamzer                             30826
trade center second                   30242
al qusais second                      29270
warsan fourth                         28840
al barshaa south third                25444
saih shuaib 2                         24748
al hebiah first                       24656
al wasl                               24335
jumeirah first                        24312
al jadaf                              23805
al qusais industrial first            22794
al satwa                              22252
al qusais industrial second           21536
al hudaiba                            20399
al goze industrial first              19876
wadi al safa 2                        19488
al sabkha                             19187
rega al buteen                        18956
al goze industrial third              18517
wadi al safa 6                        17978
al khabeesi                           17663
al goze fourth                        16123
wadi al safa 7                        15705
ras al khor industrial second         14488
al rashidiya                          14483
al yelayiss 2                         14425
nad al hamar                          13640
wadi al safa 3                        13611
jumeirah third                        13443
al barsha south fifth                 13291
al goze industrial fourth             13231
al saffa first                        13150
um hurair second                      12481
um hurair first                       12194
al hebiah third                       12116
al kheeran                            12045
madinat dubai almelaheyah             11224
madinat al mataar                     11130
um suqaim second                      10723
um suqaim first                       10662
um ramool                             10641
abu hail                              10292
al jafliya                             9671
ras al khor industrial first           9567
hadaeq sheikh mohammed bin rashid      9128
jumeirah second                        9112
al yelayiss 1                          8740
al safouh first                        8410
hessyan second                         8355
al twar first                          8344
al goze first                          8248
al qusais industrial fourth            7701
al qusais industrial third             6691
al ttay                                6686
al qusais industrial fifth             6604
al manara                              6463
al saffa second                        6353
nad al shiba first                     6281
um suqaim third                        6061
al barshaa south second                5831
saih shuaib 4                          5592
al barsha second                       5471
dubai international airport            5105
al mezhar first                        5024
al hebiah second                       4706
al-cornich                             4582
saih shuaib 3                          4478
cornich deira                          4211
al warsan third                        4076
al barsha third                        3863
um al sheif                            3809
al yufrah 2                            3396
al waheda                              3215
zaabeel second                         3172
al khairan first                       2890
al merkadh                             2850
nad al shiba third                     2741
al rowaiyah first                      2655
jabal ali industrial second            2642
muhaisanah first                       2554
hessyan first                          2358
al yufrah 3                            2287
al hebiah sixth                        2115
um nahad first                         2085
al aweer first                         1998
hatta                                  1921
margham                                1876
al warqa third                         1871
al khawaneej first                     1774
al warqa second                        1766
al khawaneej second                    1754
al lusaily                             1681
al rowaiyah third                      1534
al barshaa south first                 1459
al qusais third                        1450
nad al shiba                           1445
al warsan second                       1420
al twar third                          1216
al aweer second                        1192
al warqa fourth                         998
                                        909
shandagha                               814
lehbab first                            787
al mezhar second                        776
al goze second                          765
saih shuaib 1                           734
muhaisanah third                        687
lehbab second                           622
al twar second                          608
nad al shiba fourth                     533
um nahad third                          483
oud al muteena second                   448
wadi al amardi                          443
al ruwayyah                             415
al hamriya port                         408
palm deira                              387
oud al muteena first                    380
zaabeel first                           346
al maha                                 345
al kifaf                                331
bur dubai                               283
al faga'a                               247
nad al shiba second                     230
grayteesah                              203
nad shamma                              176
al eyas                                 175
bukadra                                 172
island 2                                155
al qoaz                                 146
mena jabal ali                          128
oud almuteena third                     122
Name: count, dtype: int64

### cats encoding

In [12]:
# categorical feats encoding
feats_cat = [    
    'Property Type',
    'Property Sub Type',
    'Area',
    'Nearest Metro',
    'Nearest Mall',
    'Nearest Landmark',
    'Project',
]

# label encoder
for feat in feats_cat:
    lbl = preprocessing.LabelEncoder()
    df[f'{feat}_lbl'] = lbl.fit_transform(df[feat])
    

# one-hot maybe..
# lbl = preprocessing.OneHotEncoder(sparse_output=False, drop='first')
# df = pd.concat([df, pd.DataFrame(lbl.fit_transform(df[[f+'_lbl']]), columns = lbl.get_feature_names_out())], axis = 1)
# del df[f+'_lbl']

In [13]:
# target encoders by average value in the previous month
for feat in feats_cat[1:]:
    feats_gr = ['dt_month', 'Property Type', feat]
    df1 = df.groupby(feats_gr).Amount.mean().reset_index()
    df1[f'{feat}_trg'] = df1.groupby(feats_gr[1:]).Amount.shift(1)
    del df1['Amount']    
    df = df.merge(df1, how = 'left')

In [14]:
df[df['Transaction Date'] < '2022-06-01'].to_pickle('data2.pkl')
print(df.shape)
df[:5]

(5417110, 43)

,Ejari Contract Number,Registration Date,Start Date,End Date,Property ID,Version,Area,Contract Amount,Annual Amount,Is Free Hold?,Property Size (sq.m),Property Type,Property Sub Type,Number of Rooms,Usage,Nearest Metro,Nearest Mall,Nearest Landmark,Parking,No of Units,Master Project,Project,Contract Years,Amount,Transaction Date,dt_month,dt_year,tr_year_num,tr_month_num,Property ID_last,Property Type_lbl,Property Sub Type_lbl,Area_lbl,Nearest Metro_lbl,Nearest Mall_lbl,Nearest Landmark_lbl,Project_lbl,Property Sub Type_trg,Area_trg,Nearest Metro_trg,Nearest Mall_trg,Nearest Landmark_trg,Project_trg
0,56129335,01/01/2012 10:31:05,10/12/2011 00:00:00,09/12/2012 00:00:00,311295,1,eyal nasser,"65,000.00","65,000.00",0,15.05,Unit,Unit_Shop,NaN,0,Palm Deira Metro Stations,Dubai Mall,Dubai International Airport,0,1,NaN,,1.00,"65,000.00",2012-01-01 10:31:05,2012-01-01,2012,2012,1,NaN,2,47,110,46,2,6,0,NaN,NaN,NaN,NaN,NaN,NaN
1,85678259,01/01/2012 10:49:45,01/01/2012 00:00:00,31/12/2012 00:00:00,301083,1,al sabkha,"95,700.00","95,700.00",0,42.36,Unit,Unit_Shop,NaN,0,Palm Deira Metro Stations,Dubai Mall,Dubai International Airport,0,1,NaN,,1.00,"95,700.00",2012-01-01 10:49:45,2012-01-01,2012,2012,1,NaN,2,47,73,46,2,6,0,NaN,NaN,NaN,NaN,NaN,NaN
2,81975881,01/01/2012 11:17:47,26/12/2011 00:00:00,25/12/2012 00:00:00,284859,1,al mararr,"28,000.00","28,000.00",0,36.79,Unit,Unit_Flat,NaN,0,Palm Deira Metro Stations,Dubai Mall,Dubai International Airport,0,1,NaN,,1.00,"28,000.00",2012-01-01 11:17:47,2012-01-01,2012,2012,1,NaN,2,29,49,46,2,6,0,NaN,NaN,NaN,NaN,NaN,NaN
3,88277598,01/01/2012 11:47:11,01/01/2012 00:00:00,31/12/2012 00:00:00,354438,1,al mararr,"97,000.00","97,000.00",0,39.02,Unit,Unit_Shop,NaN,0,Palm Deira Metro Stations,Dubai Mall,Dubai International Airport,0,1,NaN,,1.00,"97,000.00",2012-01-01 11:47:11,2012-01-01,2012,2012,1,NaN,2,47,49,46,2,6,0,NaN,NaN,NaN,NaN,NaN,NaN
4,64535887,01/01/2012 12:17:50,01/01/2012 00:00:00,31/12/2012 00:00:00,232470,1,al mararr,"26,000.00","26,000.00",0,25.46,Unit,Unit_Flat,NaN,0,Palm Deira Metro Stations,Dubai Mall,Dubai International Airport,0,1,NaN,,1.00,"26,000.00",2012-01-01 12:17:50,2012-01-01,2012,2012,1,NaN,2,29,49,46,2,6,0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
list(df.columns)

['Ejari Contract Number',
 'Registration Date',
 'Start Date',
 'End Date',
 'Property ID',
 'Version',
 'Area',
 'Contract Amount',
 'Annual Amount',
 'Is Free Hold?',
 'Property Size (sq.m)',
 'Property Type',
 'Property Sub Type',
 'Number of Rooms',
 'Usage',
 'Nearest Metro',
 'Nearest Mall',
 'Nearest Landmark',
 'Parking',
 'No of Units',
 'Master Project',
 'Project',
 'Contract Years',
 'Amount',
 'Transaction Date',
 'dt_month',
 'dt_year',
 'tr_year_num',
 'tr_month_num',
 'Property ID_last',
 'Property Type_lbl',
 'Property Sub Type_lbl',
 'Area_lbl',
 'Nearest Metro_lbl',
 'Nearest Mall_lbl',
 'Nearest Landmark_lbl',
 'Project_lbl',
 'Property Sub Type_trg',
 'Area_trg',
 'Nearest Metro_trg',
 'Nearest Mall_trg',
 'Nearest Landmark_trg',
 'Project_trg']